/**/


body{
	font-family: Arial, sans-serif;
  }
body{
	font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, sans-serif;
	}
h1, h2, h3, h4, h5, h6 {
		font-family: 'Montserrat', sans-serif;
}
input, textarea, select, button {
	font-family: Arial, sans-serif;
}
input, textarea, select, button {
	font-family: 'Montserrat', sans-serif;
}

html {
	width: 100%;
}
.prog img { display:none;}
p .prog  { display:none;}


 a[href^="tel:"] {
color: inherit;
text-decoration:none;
}

* {
	-webkit-text-size-adjust: none;
}
.forma{
shape-image-threshold: 1.5px;
shape-margin: 30px;
margin-right:10px;

float: left;
}

.formaizq{

shape-image-threshold: 1.5px;
shape-margin: 30px;
margin-right:10px;

//float: left;
}

body {
	font: 13px/20px  'Montserrat', sans-serif;
	background-color: white;
	background-repeat:repeat;
	position:relative;
	min-width:960px;
	height: 100%;
	min-height: 100%;
}
html, body {
	height:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #525252;
}

input {
	/*border-radius: none !important;*/
	
}

p {
	margin-bottom: 0px;
}

p.p1 {
	margin-bottom: 10px;
}


address {
	font-style: normal;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.list li {
	padding-left: 27px;
	margin-bottom: 16px;
	position: relative;
}

ul.list li a {
	color: #F99615;
}

ul.list li a:after  {
	position: absolute;
	width: 16px;
	height: 17px;
	left: 0;
	top: 2px;
	content: '';
	pointer-events: none;
	display: block;
	background: url(../images/marker.png) 0 0 no-repeat;
}

ul.list li a:hover {
	color: #F99615;
}

ul.list li a:hover:after {
	background-position: 0 bottom;
}

h2 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #322f2f;

}


h3 {
	font-size: 16px;
	line-height: 20px;
}
/*links*/
a:hover{
	color:black;
}
a {
	text-decoration: none;
	color: black;
	cursor: pointer;
	
}

a.btn {
	color: #fff;
	display: inline-block;
	background: #322f2f;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 24px;
	padding: 3px 24px 2px 23px;
}

a.btn:hover {
	background-color: #F99615;
	color: #fff;
}

a:hover {
	color: black;

}


a.link-1 {
	color: #F99615;
}

a.link-1:hover {
	color: inherit;
}

/*preclass*/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

.pad1 {
	padding-right: 0px;
}

.pad2 {
	padding-right: 15px;
}

.pad3 {
	padding-right: 80px;
}


.pt0 {
	padding-top: 0;
}
.regresar {
	float:right;
}

.img_inner {
	margin-top: 2px;
	margin-bottom: 15px;
	max-width: 100%;
	 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.content h3.head1 {
	margin-bottom: 22px;
}

.fleft {
	float: left;
	margin-right: 20px;
	margin-top: 4px;
	margin-bottom: 6px;
}

.fright {
	float: right !important;	
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.cl1 {
	height: 16px;
}

.cl2 {
	height: 28px;
}


.hor_separator {
	padding-top: 44px;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 4px;
}

.hor_separator.hor1 {
	margin-top: 29px;
}

.block1 {
	margin-bottom: 20px;
	margin-top: -2px;
}

.content.projects .box h3 {
	margin-top: 0;
}

.content.projects .boxtext h3 {
	margin-top: 0;
}

.content.projects .boxp h3 {
	margin-top: 0;
}


/*header*/

header {
	display: block;
	padding-top: 0px;
	background-color:#CCC #322f2f;
}

header {
	padding-bottom: 38px;

}

header h1 {
	float: left;
	position: relative;
	top: 5px;
}
header h1 a {
	display: block;
	overflow: hidden;
	margin: 0 auto;
	width: 321px;
	height: 56px;
	text-indent: -999px;
}

header h1 a img {
	display: block;	
}

.box {
	border-radius:0px;
	
	
	text-align:justify ;
	position: relative;
}
 .box textarea{
	 height:190px;
	 margin-top:2px;
	 padding-top:2px;
	 font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #525252;
	
}
.box textarea.mensaje{
	 height:90px;
	 width:96%;
	 margin-top:2px;
	 margin-left:3%;
	 padding-top:2px;
	 font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #525252;
	background:#fff;
	border-radius:10px;
	text-align:center;
}
.box textarea.tex{
	 height:250px;
	 width:96%;
	 margin-top:2px;
	 margin-left:3%;
	 padding-top:2px;
	 font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #525252;
	background:#EEE;
	border-radius:10px;
	text-align:justify;
	/*text-align:left;*/
	font-size:14px;
}
div #eltex{
	 height:300px;
	 width:98%;
	 margin-top:15px;
	 margin-left:3%;
	 padding-top:10px;
	 padding-left:1px;
	 padding-right:2px;
	 font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #525252;
	background:#EEE;
	border-radius:10px;
	text-align:justify;
	/*text-align:left;*/
	font-size:14px;
}
.boxp {
	border-radius:10px;
	margin-top: 5%;
	background-color: rgba(255, 255,255,1);
	text-align:center;
	position: relative;
	 box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.box:hover {
	
	background: #f19300;
	/*background: #322f2f;*/
	color: #fff;
}

.box textarea:hover {
	background:#bbb;
	margin-top:2px;
	padding-top:1px;
	
	
	/*background: url(../images/boxtex_bg.png) 0 0 repeat;
	background: #322f2f;*/
	color: #fff;
}

.box #eltex:hover {
	background:#bbb;
	margin-top:2px;
	padding-top:10px;
	
	
	/*background: url(../images/boxtex_bg.png) 0 0 repeat;
	background: #322f2f;*/
	color: #fff;
}

.boxp:hover {
	
	background: rgba(255, 255, 255,1);
	/*background: #322f2f;*/
	color: rgb(82, 82, 82);
	
	box-shadow: 0 24px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.boxp.cuadro_productos:hover {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.box h3, .content.projects .box h3 {
	line-height: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #d2d1d1;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.boxp h3, .content.projects .boxp h3 {
	line-height: 16px;
	text-transform: uppercase;
	border-bottom: 1px solid #d2d1d1;
	padding-bottom: 3px;
	margin-bottom: 3px;
}

.box i {
	text-align: center;
	display: block !important;
	margin-bottom: 11px;
	font-size: 36px;
	line-height: 36px;
	top: 98px;
	color: #322f2f;
}

.boxp i {
	text-align: center;
	display: block !important;
	margin-bottom: 11px;
	font-size: 11px;
	line-height: 16px;
	top: 98px;
	color: #322f2f;
}

.box:hover i {
	color: #fff;
}

.boxp:hover i {
	color: #fff;
}

.content.projects .box {
	margin-top: 1px;
}

.content.projects .boxp {
	margin-top: 1px;
	font-size:10px;
}

.box:hover h3 {
	color: #fff;
}

.boxp:hover h3 {
	color: #fff;
}

.box:hover h4 {
	color: #fff;
}

.boxp:hover h4 {
	color: #fff;
}

.box:hover a.btn {
	background-color:#F99615;
}

.boxp:hover a.btn {
	background-color:#F99615;
}


.content
.emp_box .box {
	background: #f9f9f9;
	padding-top: 3px;
	margin-top: 2px;
	text-align: left;
	overflow: hidden;
	padding-left: 20px;
	padding-right: 20px;
}

.content
.emp_box .boxp {
	background: #f9f9f9;
	padding-top: 14px;
	margin-top: 3px;
	text-align: left;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
}

.emp_box .box p {
	margin-bottom: 10px;
}

.emp_box .boxp p {
	margin-bottom: 5px;
	text-align:left;
}

.emp_box .boxp p img {
	margin-bottom: 5px;
	text-align:left;
	margin-bottom: 5px;
	background: #f9f9f9;
}

.emp_box .box img {
	border-radius:10px;
	float: left;
	
	
	
}
.emp_box .boxp img {
	border-radius:10px;
	float: left;
	margin-top: 5px;
	margin-right: 2px;
	margin-bottom: 5px;
	background: #f9f9f9;
	
}
.emp_box .box a {
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

.emp_box .boxp a {
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

.hor_separator {
	border-color: transparent !important;
}


.content
.emp_box .box:hover {
	background-color: #F99615;
}

.emp_box .box a:hover {
	color: #fff;
	text-decoration: underline;
}

.emp_box .boxp a:hover {
	color: #fff;
	text-decoration: underline;
}

 .boxp  {
	 margin-bottom:0.5%;
}

.content time {
	color: #F99615;
	margin-bottom: 10px;
	display: inline-block;
}
.logos {
	overflow: hidden;
}

.logos li {
	float: left;
	padding-top: 11px;
	padding-bottom: 6px;
	width: 25%;
	text-align: center;
	border-right: 1px solid #c8c9ca;
	-moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

.logos li a:hover {
	opacity: 0.5;
}

.logos li:first-child {
	border-left: 1px solid #c8c9ca;
}

.projects .box:hover {
	background-color: #F99615 !important;
}

.projects .box:hover a.btn {
	background-color: #322f2f !important;
}

.projects .boxp:hover a.btn {
	background-color: #322f2f !important;
}

/***Icons**/

/*Content*/

.content.page1 {
	padding-bottom: 45px;
	padding-top: 0;
}

.content {
	background-color:rgb(233,233,228);
	padding-bottom: 60px;
}
.bg1 {
	background: url(../images/cont_bg.png) 0 0 repeat;
}

.content.page1 h3 {
	margin-top: 49px;
	margin-bottom: 24px;
}

.content h3 {
	margin-top: 20px;
	margin-bottom: 24px;
}

.prv h3 {
	margin-bottom: 19px;
}

.prv p {
	text-align:justify;
	
}

.content.page1 .emp_box .box {
	margin-top: 2px;
}

.hor_separator.hor2 {
	margin-bottom: 0;
	border-bottom: none;
	margin-top: 44px;
	padding-bottom: 4px;
	border-top: 1px solid #D4D4D4;
	padding-top: 0;
}
/****Map***/

.map {
	padding-top: 2px;
}

.map figure {

		 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
 margin-bottom: 15px;
 display: block;
}
.map figure iframe {
	width: 100%;
	height: 306px;
	max-width: 100%
}

address dd span {
	min-width: 83px;
	display: inline-block;
}

address dt p {
	margin-bottom: 10px;
}
/************Footer***********/

/*footer {
	display: block;
	padding: 29px 20px 29px 0px;
	display: block;
	color: #fff;
	
}*/

footer .socials {
	padding-top: 2px;
	float: right;
	padding-bottom: 4px;
	color: #525252;
}

footer .socials a:first-child {
	margin-left: 0 !important;
}

footer .socials a {

	display: inline-block; 
	margin: 0 4px;
}

footer a:hover {
	text-decoration: underline;
}


/*==================================RESPONSIVE LAYOUTS===============================================*/
@media only screen and (max-width: 995px) {
 body {
min-width:768px;
}
 .map figure, .map figure iframe, #form input, #form textarea, #form .success {
 width: 100% !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}

.extra_wrapper {
	overflow: visible ;
}


.pad1, .pad2, .pad3 {
	padding: 0;
}
.slider_wrapper  {
	height: 337px !important;
}

.emp_box .box div {
	width: 100%;
	margin-bottom: 20px;
	float: none;
	margin-right: 0;
}

.emp_box .boxp img {
	/*width: 100%;*/
	margin-bottom: 20px;
	float:left;
	margin-right: 0;
	margin-bottom: 5px;
	background: #f9f9f9;
}

.caption {
		top: 120px !important;
		font-size: 20px !important;
		width: 230px !important;
}

h2 {
	font-size: 28px;
	line-height: 30px;
}


}
 @media only screen and (max-width: 767px) {
 body {
min-width:420px;
}

.prop img { display:none;}
p .prop  { display:none;}
.prog img { display:block;}
p .prog { display:block;}




.content.projects .box {
	margin-bottom: 25px;

}

.content.projects .boxp {
	margin-bottom: 0px;

}

.emp_box .box {
	margin-bottom: 25px;
}

.emp_box .boxp {
	margin-bottom: 25px;
}

.page1_block {
	margin-bottom: 20px;
}

.page1_block .box h3 {
	margin-bottom: 30px;
}

.page1_block .boxp h3 {
	margin-bottom: 30px;
}

.page1_block .box {
	margin-bottom: 25px;
}

.page1_block .boxp {
	margin-bottom: 25px;
}

.cl1, .cl2  {
	height: 0;
}


.slider_wrapper  {
	height: 189px !important;
}

.img_inner {
	width: 100%;
}


.img_inner.fleft {
	float: none;
	margin-top: 20px !important;
}


.img_inner {
 float: none !important;
margin-right: 0 !important;
margin-bottom: 20px !important;
margin-top: 10px !important;
}


header h1 {
	float: none;
	position: relative;	
}

header h1 a {
	margin: 0 auto;
	height: auto;
	width: 60%;
}

header h1 a img {
	width: 100%;
}


.map figure iframe {
	width: 100%;
	height: 300px;
}

footer div {
	float: none !important;
}

.caption {
	display: none !important;
}

.logos li {
	border: none !important ;
	float: none;
	width: auto;
}

.copy {
	font-size: 12px;
}

}
 @media only screen and (max-width: 479px) {
 
 body {
min-width:300px;
}

.slider_wrapper:after {
	width: 300px !important;
}

.slider_wrapper {
	height: 135px !important;
}


 .map figure iframe {
	width: 100%;
	height: 150px;
}


 }

@media screen and (min-width: 767px) {


.prog img { display:none;}
p .prog  { display:none;}

}
