.twelve.columns.terminoscondiciones h1 {
	
font-size: 32px;
font-weight: bold;
 
}
.twelve.columns.terminoscondiciones h2 {
	
font-size: 22px;
font-weight: bold;
 
}
.twelve.columns.terminoscondiciones p {
	
font-size: 18px;
font-weight: lighter;
text-align: justify;
}